body {
    margin: 0;
    padding: 0;
  }
  
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  
  section .row {
    position: relative;
    top: -60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  
  section .row div {
    -webkit-animation: animate1 80s linear infinite;
            animation: animate1 80s linear infinite;
    -webkit-animation-delay: -80s;
            animation-delay: -80s;
  }
  
  section .row div:nth-child(2) {
    -webkit-animation: animate2 80s linear infinite;
            animation: animate2 80s linear infinite;
    -webkit-animation-delay: -40s;
            animation-delay: -40s;
  }
  
  @-webkit-keyframes animate1 {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  @keyframes animate1 {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  @-webkit-keyframes animate2 {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  
  @keyframes animate2 {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  
  i {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 1s;
    transition: 1s;
    padding: 0 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: default;
  }
  
  i:hover {
    -webkit-transition: 0s;
    transition: 0s;
    color: #fc6805;
    text-shadow: 0 0 120px #fc6805;
  }
  
  section .row:nth-child(even) div {
    -webkit-animation: animate3 80s linear infinite;
            animation: animate3 80s linear infinite;
    -webkit-animation-delay: -80s;
            animation-delay: -80s;
  }
  
  section .row:nth-child(even) div:nth-child(2) {
    -webkit-animation: animate4 80s linear infinite;
            animation: animate4 80s linear infinite;
    -webkit-animation-delay: -40s;
            animation-delay: -40s;
  }
  
  @-webkit-keyframes animate3 {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  @keyframes animate3 {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  @-webkit-keyframes animate4 {
    0% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  
  @keyframes animate4 {
    0% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  
  i {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 1s;
    transition: 1s;
    padding: 0 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: default;
  }
  
  i:hover {
    -webkit-transition: 0s;
    transition: 0s;
    color: #fc6805;
    text-shadow: 0 0 120px #fc6805;
  }
  
  .parte-inicial {
    height: 100vh;
    width: 100%;
  }
  
  .texto h4 {
    position: absolute;
    width: 248px;
    height: 59px;
    left: 81px;
    top: 100px;
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #fff;
  }
  
  .texto h1 {
    position: absolute;
    width: 460px;
    height: 239px;
    left: 83px;
    top: 85px;
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    letter-spacing: 0.05;
    color: #fff;
  }
  
  .descricao {
    position: absolute;
    width: 611px;
    height: 53px;
    left: 81px;
    top: 380px;
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05;
    color: #fff;
  }
  
  span {
    color: #fc6805;
  }