/* Slicebox Style */
.sb-slider {
	margin: 10px auto;
	top: 10px;
	position: relative;
	overflow: hidden;
	width: 100%;
	list-style-type: none;
	padding: 0;
	box-shadow: 10px 10px 10px #f59b259f;
	border-radius: 25px;
	z-index: 1;
}

.sb-slider li {
	margin: 0;
	padding: 0;
	display: none;
	border-radius: 25px;
}

.sb-slider li > a {
	outline: none;
	border-radius: 25px;
}

.sb-slider li > a img {
	border: none;
	border-radius: 25px;
}

.sb-slider img {
	max-width: 100%;
	display: block;
	border-radius: 25px;
}

.sb-description {
	padding: 20px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 1000;
	position: absolute;
	background: #fd9605;
	background: rgba(190,176,155, 0.4);
	border-left: 4px solid #fd9605;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);	
	border-radius: 25px;
	opacity: 0;
	color: #fff;

	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	-ms-transition: all 200ms;
	transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);	
	opacity: 1;
	border-radius: 25px;
}

.sb-slider li.sb-current .sb-description:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);	
	background: #111;
	border-radius: 25px;
}

.sb-perspective {
	position: relative;
	border-radius: 25px;
}

.sb-perspective > div {
	position: absolute;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility : hidden;
	-moz-backface-visibility : hidden;
	-o-backface-visibility : hidden;
	-ms-backface-visibility : hidden;
	backface-visibility : hidden;
	border-radius: 25px;
}

.sb-side {
	margin: 0;
	display: block;
	position: absolute;
	border-radius: 25px;

	-moz-backface-visibility : hidden;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
